body{
    margin: 0%;
    background-color: antiquewhite;
}
    
    
    h1 {
    color:blueviolet
}

.blue {
    color:blue
}

#green{
    color:green
}

p {
    color:black
}
nav ol {
    display:flex;
    background-color:black;
    margin-top: 0%;
    line-height: 2;
    font-size: 30px;
    width:100%
}
li {
    width:100%;
    list-style-type: none;
}
li a {
    text-decoration: none;
    color:aliceblue
}
