body {
    margin: 0%;
    background-color: antiquewhite;
}

main {
    margin-left: 10px;
}


h1 {
    color: black
}

.blue {
    color: blue;
    font-size: 25px
}

#green {
    color: green;
    font-size: 25px
}

p {
    color: black;
    font-size: 20px;
}

nav ol {
    display: flex;
    background-color: black;
    margin-top: 0%;
    line-height: 2;
    font-size: 30px;
    width: 100%
}

li {
    width: 100%;
    list-style-type: none;
}

li a {
    text-decoration: none;
    color: aliceblue;
}

button {
    background-color: black;
    color: aliceblue;
    border-radius: 25px;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#random {
    font-size: 50px;
}